<% provide(:title, 'Beerly | À propos') %>

<div class="container text-center mt-6"><h1>À propos de Beerly</h1></div>

<div class="container mt-6 col-10 col-lg-6">
	<h4 class="mb-5">Le Problème</h4>
		<p>La consommation de bière en France n'a jamais été aussi élevée et de plus en plus d'amateurs en ont marre de la bonne vieille Kro servie dans le PMU du coin. Leur palais s'est affiné et beaucoup cherchent un bar où ils pourront déguster leur boisson préférée.<br><br>
		Entre la micro-brasserie, le bar à bière spécialisé et la brasserie de boulevard il n'y a jamais eu autant de choix pour la petite mousse après le taff.
		Malheureusement il n'existe aucun moyen pour savoir à l'avance quel bar va te proposer la bière que tu recherches, ni à quel prix tu pourras la déguster.
		</p>
</div>
	
<div class="container mt-3 col-10 col-lg-6">	
	<h4 class="mb-5 mt-5">La solution</h4>
		<p>
			Avec Beerly on veut qu'une appli web te permette enfin de chosir ton bar en fonction de sa carte de bières. Tu le fais bien quand tu vas au resto : si un soir t'as envie d'un bon gros ramen tu vas sur lafourchette pour trouver LE vrai jap de ton quartier.<br><br>
			Et bien on voudrait te permettre d'étancher ta soif d'IPA en partant sur le même principe : un site avec une search bar qui te permettrait de trouver quels bars servent ta bière préférée, à quels prix, d'avoir leurs géolocalisation sur une map et d'obtenir les horaires des happy hour éventuels.<br><br>
			Pour que tout fonctionne proprement ils faut aussi que les barmen soient impliqués : ils auront leur interface dédiée pour ajouter et modifier les informations sur leurs bars.

		</p>


	  <h4 class="mt-6 mb-6">Vous avez un bar ?</h4>
	  <p>Rejoignez Beerly pour augmenter votre visibilité et attirer de nouveaux clients</p>

	  <%= link_to 'Publier votre carte', new_manager_registration_path, class:"btn btn-sm btn-primary mt-4" %>

</div>

	







