<div class="jumbotron jumbotron-fluid" id="showbar">
	<div class="container text-center">
	    <h1>Nom du bar</h1>
	    <h4>Adresse</h4>
		<button class="btn btn-primary mt-2" href="#menu">Voir le menu</button>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-8 col-sm-12">
			<h4>Descritpion</h4>
			<p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500.</p>	
		</div>
		<div class="col-lg-4 col-sm-12">
				<h4>Horaires</h4>
					<li>Lundi :</li>
					<li>Mardi :</li>
					<li>Mercredi :</li>
					<li>Jeudi :</li>
					<li>Vendredi :</li>
					<li>Samedi :</li>
					<li>Dimanche :</li>
				<h4 class="mt-2">Happy hours</h4>
					<li>8h - 20h</li>
		</div>
	</div>
</div>

<div class="container mt-4" id="menu">
	<h2 class="mb-3">La carte du bar</h2>
	<div class="row">
		<div class="col-lg-6 col-sm-12 mt-4">
				<h4>Bières pression</h4>
					<li>biere</li>
					<li>biere</li>
					<li>biere</li>
					<li>biere</li>
		</div>
		<div class="col-lg-6 col-sm-12 mt-4">
				<h4>Bières bouteille</h4>
					<li>biere</li>
					<li>biere</li>
					<li>biere</li>
					<li>biere</li>	
		</div>
	</div>
</div>





