<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">

  <div class="container">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3 text-light">

          <!-- Content -->
          <h5 class="text-uppercase text-light">Footer Content</h5>
          <p>Here you can use rows and columns here to organize your footer content.</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase text-light">Links</h5>

            <ul class="list-unstyled text-light">
              <li>
                <a href="#!" class="nav-link">Link 1</a>
              </li>
              <li>
                <a href="#!" class="nav-link">Link 2</a>
              </li>
              <li>
                <a href="#!" class="nav-link">Link 3</a>
              </li>
              <li>
                <a href="#!" class="nav-link">Link 4</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3 text-light">

            <!-- Links -->
            <h5 class="text-uppercase">Links</h5>

            <ul class="list-unstyled">
              <li>
                  <%= link_to 'Accueil', '/',  class:"nav-link" %>  
              </li>
              <li>
                <%= link_to 'Contact', 'contact', class:"nav-link" %> 
              </li>
              <li>
                  <%= link_to 'À propos', 'apropos', class:"nav-link" %> 
              </li>
              <li>
                <%= link_to 'Mentions Légales', 'mentions-legales', class:"nav-link" %> 
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

  
    <!-- Copyright -->
  </div>
  </footer>