    <!-- MAIN WRAPPER -->
<div class="body-wrap">
    <div id="st-container" class="st-container">

        

        <div class="st-pusher">
            <div class="st-content">
                <div class="st-content-inner">

                    <!-- Header -->
     
                    <!-- SEARCH -->
                    <section class="slice sct-color-2 border-top border-bottom">
                        <div class="container mt-5">
                            <h3 class="heading heading-1 strong-400 mt-0 mb-4 text-normal text-center">
                                <span>Take the next step</span>
                            </h3>

                            <span class="clearfix"></span>

                            <div class="fluid-paragraph fluid-paragraph-sm c-gray-light strong-300 text-center">
                                Start building fast, beautiful and modern looking websites in no time using our theme.
                            </div>

                            <span class="space-xs-lg"></span>

                            <div class="feature feature--boxed-border feature--bg-1">
                                <form role="form" class="form-default">
                                    <div class="row cols-md-space cols-sm-space cols-xs-space">
                                        <div class="col-lg-3">
                                            <div class="form-group mb-0">
                                                <input class="form-control form-control-lg " type="text" placeholder="Keywords">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group mb-0">
                                                <input class="form-control form-control-lg " type="text" placeholder="Keywords">
                                            </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <div class="form-group mb-0">
                                                <select class="form-control form-control-lg">
                                                   <option>City</option>
                                                   <option>Bucharest</option>
                                                   <option>Cluj Napoca</option>
                                                   <option>Piatra Neamt</option>
                                                   <option>Timisoara</option>
                                                   <option>Sibiu</option>
                                                </select>
                                           </div>
                                        </div>
                                        <div class="col-lg-3">
                                            <button type="button" class="btn btn-styled btn-block btn-base-1">
                                                Search
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </section>

                    

                    
                    <section class="slice sct-color-2 border-top">
                        <div class="container">
                            <div class="row align-items-center">
                                <div class="col-lg-6">
                                    <div class="block block-image-holder z-depth-3">
                                        
                                    </div>
                                </div>

                                <div class="col-lg-6">
                                    <div class="col-wrapper--spaced">
                                        <h3 class="heading heading-2 strong-400">
                                            Trusted by over 4270 clients
                                        </h3>
                                        <div class="c-gray-light mt-4">
                                            Take up one idea. Let the brain, muscles, nerves, every part of your body, be full of that idea, and just leave every other idea alone - This is the way to success.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- FOOTER -->
