<div class= "container mt-6">
<h3 class="mb-3">Résultats</h3>
	
	<div class="row">
		

	  <div class="col-sm-3 col-md-3 col-lg-3">
		<div class="card mb-2">
		  <%= image_tag("lager.jpg", class: "card-img-top", alt: "beer") %>
		  <div class="card-body">
		    <h5>Bar</h5>
		    <p> Adresse </p>
		    <p>$$$</p>
		    <button class="btn btn-sm btn-primary">Voir le bar</button>
		  </div>
		</div>
		</div>

		<div class="col-sm-3 col-md-3 col-lg-3">
			<div class="card mb-2">
			  <%= image_tag("lager.jpg", class: "card-img-top", alt: "beer") %>
			  <div class="card-body">
			    <h5>Bar</h5>
		    	<p> Adresse </p>
		    	<p>$$$</p>
		    	<button class="btn btn-sm btn-primary">Voir le bar</button>
			  </div>
			</div>
		</div>
		<div class="col-sm-12 col-md-6 col-lg-6">
	    
	    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d83998.7576943981!2d2.27702004616805!3d48.858950681100175!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e1f06e2b70f%3A0x40b82c3688c9460!2sParis!5e0!3m2!1sfr!2sfr!4v1544014254080" width="550" height="340" frameborder="0" style="border:0" allowfullscreen></iframe>
	     
	 	</div>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-md-3 col-lg-3">
		<div class="card mb-2">
		  <%= image_tag("lager.jpg", class: "card-img-top", alt: "beer") %>
		  <div class="card-body">
		    <h5>Bar</h5>
		    <p> Adresse </p>
		    <p>$$$</p>
		    <button class="btn btn-sm btn-primary">Voir le bar</button>
		  </div>
		</div>
		</div>
		<div class="col-sm-6 col-md-3 col-lg-3">
			<div class="card mb-2">
			  <%= image_tag("lager.jpg", class: "card-img-top", alt: "beer") %>
			  <div class="card-body">
			    <h5>Bar</h5>
		    	<p> Adresse </p>
		    	<p>$$$</p>
		    	<button class="btn btn-sm btn-primary">Voir le bar</button>
			  </div>
			</div>
		</div>

	</div>



</div>