<div class= "container">

	<div class ="topligne col-12 col-md-12 col-sm-12">
		<p> nbr de bar correspond à votre recherche :</p>
 	</div>
 	

	<div class="row"> 	
		<div class ="leftcolumn col-6 col-md-12 col-sm-12">

			<div class ="row"> 
				<div class ="col-2 col-md-4 col-sm-4 imagebar "> 
					<%= image_tag "cristal-bar.jpg", alt: "cristal-bar", width: "200px", height: "200px" %>
				</div>

				<div class ="col-4 col-md-8 col-sm-8"> 
					<h2 id="nombar"> Nom du bar</h2>
					<p> adresse :</p>
					<ul>Bières disponibles :
						<li>Biere1</li>
						<li>Biere2</li>
					</ul>
				</div>
		</div>

	</div>
		
		<div class ="rightcolumn col-6 col-md-12 col-sm-12 col-sm-order-first">
			<p>map</p>
		</div>


	</div>

</div>