/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require r-chrome
 *= require r-firefox
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css?family=Montserrat:400,500');
 @import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body{
	background-color: #ffffff;
	margin: 0;
	padding: 0;
	background-image : url("background.png"); 
	background-position: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
	font-size: 2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Montserrat', sans-serif;
}

a{
	text-decoration: none !important;
	-webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	   -moz-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	     -o-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	        transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */

	-webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	        transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */

	font-family: 'Montserrat', sans-serif;
	font-weight: 500;
	color: #000 !important;
	opacity: 0.8;
}

a:hover {
	cursor: pointer;
	opacity: 1;
}

.mt-6 {
	margin-top: 100px !important;
}


header {
	-webkit-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.20);
	box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.20);
	
}

.navbar-light .navbar-toggler {
    color: #000;
    border: none;
}

.navbar-expand-lg .navbar-nav .nav-link{
	padding-right: .7rem;
    padding-left: .7rem;
}

.logo {
	height: 3em;
	transition: 0.3s;
	opacity: 0.9;
}

.logo-footer {
	height: 6em;
}

.logo:hover {

	opacity:1;
}

p {
	line-height: 1.7;
}


