/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require r-chrome
 *= require r-firefox
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */
 
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono:400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
	margin: 0;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
}

body{
	background-color: #1c1e24;
	margin: 0;
	padding: 0;
	color: #fff;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Roboto Mono', monospace;
}

h1 {
	font-size: 1.8em;
	line-height: 1.7;
}

h2 {
	line-height: 1.5;
}


h5 {
	line-height: 1.5;
}

h4{
    line-height: 1.5;
}

h6 {
	line-height: 2em;
}

p {
	font-size: 1rem;
	line-height: 1.9;
}

a{
	text-decoration: none !important;
	-webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	   -moz-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	     -o-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	        transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */

	-webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	        transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */

	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	color: #fff !important;
	opacity: 0.8;
}

a:hover {
	cursor: pointer;
	opacity: 1;
}

.mt-6 {
	margin-top: 100px !important;
}

.mb-6 {
	margin-bottom: 70px !important;
}

.mb-7 {
	margin-bottom: 120px !important;
}


header {
	-webkit-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.04);
	-moz-box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.04);
	box-shadow: 0px 7px 19px 0px rgba(0,0,0,0.04);
	
}

.navbar-light .navbar-toggler {
    color: #000;
    border: none;
}

.dropdown-menu {
	background-color: #1c1e24;
	
}

.navbar-expand-lg .navbar-nav .nav-link{
	padding-right: .7rem;
    padding-left: .7rem;
    color: #fff !important;
}

.logo {
	height: 4em;
	transition: 0.3s;
	opacity: 0.95;
}

.logo-footer {
	height: 6em;
}

.logo:hover {

	opacity:1;
}


.fade:not(.show)
{
    opacity: 1;
}

