// Place all the styles related to the BarWishlists controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



/* The icon inside the overlay is positioned in the middle vertically and horizontally */
#check-grey {
  color:#666;
  font-size: 2.5em;
  font-weight: 400;
  opacity: 1;
}

#check-green {
  color: green;
  font-size: 2.5em;
  font-weight: 400;
  opacity: 1;
}

#remove-red {
  color: red;
  font-size: 2.5em;
  font-weight: 400;
  opacity: 1;
}


#heart-red {
  color: red;
  font-size: 2.5em;
  font-weight: 400;
  opacity: 1;
}
