// Place all the styles related to the Bars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#showbar{
	color: #fff;
	height: auto;
	background-image: url("bar.jpg");
	background-position: center;
	background-size: cover;
	box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.56);
}

li {
	list-style-type: none;
}

.mf-pb {
	padding-bottom: 10px;
}