// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home{
	color: #fff;
	height: 72vh;
	background-color: transparent !important;
}

.card {
	background-color: transparent;
}

#search{
	color: #fff;
    background-color: transparent;
	border: none;
	font-size: 1.5em;
	-webkit-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	   -moz-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	     -o-transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	        transition: all 500ms cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */

	-webkit-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	   -moz-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	     -o-transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); 
	        transition-timing-function: cubic-bezier(0.230, 1.000, 0.320, 1.000); /* easeOutQuint */
}

#search:hover {
	color: #02CCB8;
	cursor: pointer;
	
}

#weekbar > .overlay {
	padding: 20px 20px;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus{
	box-shadow: none;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
	background-color: #E53828;
	border: none;
}




