// Place all the styles related to the Map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
    width: 100%;
    height: 82vh;
    border-radius: 3px;
}

#map-flow {
	overflow: hidden;
}

.card-body {
	padding: 0;
	padding-top: 10px;
}