// Place all the styles related to the Map controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#result-beers {
	overflow: hidden;
}

#map {
    width: 100%;
    height: 80vh;
    border-radius: 3px;
}

#result-card{
	overflow-y: scroll;
}

#map-flow {
	overflow: hidden;
}

.card-body {
	padding: 0;
	padding-top: 10px;
}