// Place all the styles related to the MyBaseDevise controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#connect-user{
	margin-top: 20vh;
}

#connect-manager{
	margin-top: 20vh;
}

input[type="button" i], input[type="submit" i], input[type="reset" i], input[type="file" i]::-webkit-file-upload-button, button {
	padding: .8rem 2rem;
	border-radius: .1rem;
	background-color: #F6972E;
	border: none;
	color: #000;
}


