<p>Bienvenue !</p>

<p>Vous pouvez confirmer votre compte "Barman" en cliquant sur le lien ci-dessous.</p>

<p><%= link_to 'Confirmer mon compte', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Dès que vous aurez confirmé votre compte, vous pourrez compléter votre fiche bar et ajouter des bières à votre carte!</p>
