<div class="container-fluid" style="background-color: #05c46b;">
	<div class="container">
	<% flash.each do |type, message| %>
	  <div class="alert <%= bootstrap_class_for(type) %> fade in">
	    <button class="close" data-dismiss="alert">×</button>
	    <%= message %>
	    <% end %>
	  </div>
	</div>
</div>
