<p>Bonjour <%= @email %>!</p>

<% if @resource.try(:unconfirmed_email?) %>
  <p>Nous vous informons que votre mail de contact est en train d'être changé pour: <%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nous vous informons que votre mail de contact est désormais: <%= @resource.email %>.</p>
<% end %>
